@font-face {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	src:
		url('./ArialMT.woff') format('woff'),
		url('./ArialMT.woff2') format('woff2');
}

@font-face {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	src:
		url('./Arial-BoldMT.woff') format('woff'),
		url('./Arial-BoldMT.woff2') format('woff2');
}
