@font-face {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	src:
		url('./ArialMT.woff') format('woff'),
		url('./ArialMT.woff2') format('woff2');
}

@font-face {
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	src:
		url('./Arial-BoldMT.woff') format('woff'),
		url('./Arial-BoldMT.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	src:
		url(./Inter-Medium.woff2) format('woff2'),
		url(./Inter-Medium.woff) format('woff');
}
@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src:
		url(./Inter-Bold.woff2) format('woff2'),
		url(./Inter-Bold.woff) format('woff');
}
