.root {
	max-width: 1440px;
	min-width: 360px;
	margin: 0 auto;
	font-family: Arial, sans-serif;

	color: rgba(48, 50, 51, 1);
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
}
