.container {
	margin: 44px 0 178px;
	padding: 0 96px;
}

.list {
	margin-bottom: 100px;
}

.row {
	display: flex;
	gap: 20px;
	font-size: 20px;
	line-height: 50px;
}

.key {
}

.value {
	font-weight: 700;
}

.button {
	width: 119px;
	height: 48px;
	padding: 12px 36px;
	background-color: rgb(255, 255, 255);
	border-radius: 8px;
	color: rgba(23, 133, 229, 1);

	&:hover {
		background-color: rgba(235, 235, 235, 1);

		// box-shadow: 4px 4px 10px 0px rgba(55, 82, 74, 0.1)
	}
}
