.checkbox_container {
	display: flex;
	margin-bottom: 12px;
	&:last-of-type {
		margin-bottom: 0;
	}
}

.checkbox {
	width: 20px;
	height: 20px;
	border: 0;
	border-radius: 4px;
	border: 1px solid rgba(186, 189, 191, 1);
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	padding: 0;
	cursor: pointer;
	transition: 0.3s opacity;
	place-content: center;
	display: grid;
	&:focus {
		outline: none;
	}
	&:checked::before {
		content: '';
		width: 20px;
		height: 20px;
		border-radius: 4px;
		border: none;
		background-color: rgba(0, 112, 255, 1);
		background-image: url('../../assets/images/checkbox-icon.svg');
		background-repeat: no-repeat;
		background-position: center;
	}
}

.description {
	margin: 0 0 0 12px;
}
